/** Fonts **/

@font-face {
    font-family: 'added-to-cart-popup-woocommerce';
    src:  url('fonts/added-to-cart-popup-woocommerce.eot?7r0p13');
    src:  url('fonts/added-to-cart-popup-woocommerce.eot?7r0p13#iefix') format('embedded-opentype'),
    url('fonts/added-to-cart-popup-woocommerce.ttf?7r0p13') format('truetype'),
    url('fonts/added-to-cart-popup-woocommerce.woff?7r0p13') format('woff'),
    url('fonts/added-to-cart-popup-woocommerce.svg?7r0p13#added-to-cart-popup-woocommerce') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="synk-pop-icon-"], [class*=" synk-pop-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'added-to-cart-popup-woocommerce' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
table.variation-custom{
    width: 100%;
    background-color: #ffffff;
    padding: 0px 15px 15px 15px;
}
table.variation-custom tr{
    float: left;
    margin-right: 10px;
}
table.variation-custom tr .label label{
    font-size: 14px;
    font-weight: bold;
    margin-right: 5px;
}

.synk-pop-minus,.synk-plus {cursor:pointer; }

.synk-pop-minus, .synk-plus{
    width:20px;
    height:20px;
    background:#f2f2f2;
    border-radius:4px;
    border:1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.synk-pop-qty {
    height: 34px;
    width: 100px;
    text-align: center;
    font-size: 26px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
}


.synk-pop-icon-spinner:before {
    content: "\e97b";
}
.synk-pop-icon-cross:before {
    content: "\ea0d";
}
.synk-pop-icon-check:before {
    content: "\ea10";
}

/** -- **/
.synk-pop-opac {
    z-index: 99998;
    background-color: black;
    opacity: 0.6;
    position: fixed;
    display: none;
}
.synk-pop-opac,.synk-pop-modal , .synk-pop-cont-opac{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.synk-pop-modal {
    position: fixed;
    text-align: center;
    z-index: 99998;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.7);
}
.synk-pop-active{
    transition: visibility 0.4s ease-out, opacity 0.4s ease-out, transform 0.4s ease-out;
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}
.synk-pop-cont-opac{
    z-index: 1;
    background-color: white;
    opacity: 0.5;
    position: absolute;
}
.synk-pop-modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}
.synk-pop-container {
    display: inline-block;
    max-width: 650px;
    position: relative;
    vertical-align: middle;
    width: 90%;
    text-align: left;
    box-shadow: 0 0 10px rgba(0,0,0,.4);
    border-radius: 8px;
    padding: 15px;
    border-style: solid;
}
span.synk-pop-close {
    font-size: 29px;
    position: absolute;
    right: -15px;
    top: -13px;
    background-color: purple;
    border-radius: 50%;
    cursor: pointer;
    color: #fff
}
.synk-pop-success, .synk-pop-error {
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    display: block;
    text-align: left;
}
.synk-pop-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    margin-top: 10px;
}
.synk-pop-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.synk-pop-atcn{
    overflow: auto;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    display: block;
    text-align: left;
    margin-bottom: 15px;
}
.synk-pop-atcn .synk-pop-icon-check{
    margin-right: 5px;
}

.synk-pop-btns{
    margin: 0 auto;
    clear: both;
    text-align: center;
}
a.synk-btn{
    width: 32.5%;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    padding: 12px 0;
    margin-right: 2px;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    float: left;
}


@keyframes synk-pop-spin {
    100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

.synk-pop-icon-spinner{
    animation: xoo-cp-spin 575ms infinite linear;
    display: inline-block;
}

td.synk-pop-ptitle a{
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
}
td.synk-pop-pimg{
    width: 20%;
}
.synk-pop-pdetails{
    width: 100%;
    display: block;
    overflow: auto;
    background-color: #fff;
    padding: 6px 8px;
    border-radius: 8px 8px 0px 0px;
}
td.synk-pop-pprice{
    font-size: 20px;
    margin: 15px 0;
    width: 15%;
}

td.synk-pop-pqty{
    min-width: 130px;
}

.synk-pop-pdetails td.synk-pop-remove{
    width: 5%;
    font-size: 20px;
}

.synk-pop-pdetails td{
    vertical-align: middle;
    text-align: center;
}
.synk-pop-pdetails td a img{
    border-radius: 50%;
}
.synk-pop-pdetails td.synk-pop-ptitle{
    text-align: left;
}

.synk-pop-ptotal{
    display: table;
    float: right;
    margin-right: 25px;
    font-size: 18px;
    padding: 10px 0;
    border-top: 1px solid #e5e5e5;
    width: 100%;
    text-align: right;
    background-color: #fff;
    margin-right: 0;
    border-radius: 0px 0px 8px 8px;
    margin-bottom: 15px;
}
.synk-ptotal{
    font-size: 23px;
    margin-right: 25px;
    font-weight: 600;
}
td.synk-pop-remove .synk_pop-remove-pd{
    font-size: 20px;
    color: #ea0a0a;
    cursor: pointer;
}

td.synk-pop-ptitle{
    width: 45%;
    padding-left: 5px;
}
.synk-pop-preloader{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    /*animation: synk-pop-spin 575ms infinite linear;*/
    font-size: 45px;
}

@keyframes synk-pop-spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@-ms-keyframes synk-pop-spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes synk-pop-spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes synk-pop-spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

.synk-pop-outer{
    display: none;
}
.synk-pop-variations{
    font-size: 13px;
}

.synk-pop-variations .variation {
    overflow: auto;
    margin-top: 5px;
}
.synk-pop-variations .variation dt{
    margin: 0 5px 0 0;
    float: left;
}
.synk-pop-variations .variation dd{
    margin: 0 10px 0 0;
    float: left;
}
/* When screen size is less than 500px */
@media only screen and (max-width: 500px) {
    a.synk-btn{
        width: 80%;
        margin: 5px 0;
    }
    span.synk-ptotal , .synk-pop-ptotal{
        font-size: 15px;

    }
    td.synk-pop-pimg{
        display: none;
    }
    td.synk-pop-ptitle a , td.synk-pop-pprice{
        font-size: 14px;
    }
}


span.synk-pop-minus {
    border-right-width: 1px;
    border-right-style: solid;
}
span.synk-plus {
    border-left-width: 1px;
    border-left-style: solid;
}
span.synk-plus, span.synk-pop-minus {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    float: left;
    width: 34px;
    height: 34px;
    line-height: 32px;
}

input[type=number].synk-pop-qty{
    border: 0!important;
    text-align: center;
    display: inline-block;
    max-width: 30px;
    float: left;
    line-height: 100%;
    padding: 0;
    height: 36px;
    font-size: 22px;
}
input.synk-pop-qty::-webkit-outer-spin-button,
input.synk-pop-qty::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.synk-pop-qtybox{
    position: relative;
    display: inline-block;
    font-weight: 700;
    border:0px;
    margin-top: 7px;
}
.synk-pop-added,.synk-pop-adding{
    margin-left: 5px;
}

.synk-pop-notice-box{
    left: 0;
    right: 0;
    bottom: 50px;
    position: fixed;
    z-index: 100000;
}
.synk-pop-notice-box > div{
    display: table;
    margin: 0 auto;
    background-color: #333;
    padding: 10px 20px;
    color: white;
    font-weight: 500;
    font-size: 15px;
}
.synk-pop-notice ul.woocommerce-error a.button{
    display: none;
}
.synk-pop-notice ul.woocommerce-error{
    margin: 0;
}

.synk-pop-variations .variation:last-of-type {
    display: none;
}

.synk-pop-variations .variation:first-of-type {
    display: block;
}