.notification-btn {
  position: relative;
  display: flex;
  align-content: flex-start;
  border-radius: 8px;
}
.notification-btn .notification-menu {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 40px;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  border-radius: 8px;
}
.notification-btn .notification-menu.open {
  translate: -350px 0px;
  opacity: 1;
  visibility: visible;
  background-color: var(--bg-white);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  width: 400px;
  z-index: 3;
  margin-top: 15px;
}
.notification-btn .nav {
  width: 100%;
}
.notification-btn .nav-item {
  background-color: #ececec;
  width: 50%;
}
.notification-btn .nav-link {
  width: 100%;
  border: 0 !important;
  border-radius: 0 !important;
  color: var(--text-dark);
  font-weight: 500;
  font-size: 13px;
}
.notification-btn .nav-link:hover {
  color: var(--text-dark);
}
.notification-btn .nav-link.active {
  background-color: var(--purple) !important;
  color: var(--bg-white) !important;
}
.notification-btn .notification-menu.open h4 {
  font-size: 22px;
  padding: 20px;
}
.notification-btn .notification-menu > button {
  border: 0;
  border-radius: 0;
  padding: 0 18px;
  background-color: var(--bg-white);
  text-align: start;
  padding: 10px;
}
.notification-btn .notification-menu > button:hover {
  background-color: #ee2fb81a;
  color: var(--pink);
}
.notifications img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}
.notifications h5 {
  text-align: center;
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
}
.notifications p {
  color: grey;
  margin-bottom: 0;
  text-align: center;
  font-weight: 300;
}
.btn-notification {
  border: 0;
  width: 100%;
  color: var(--pink);
  background-color: var(--pink-transparent);
  padding: 20px 15px;
  font-weight: 600;
  transition: 0.3s all ease;
  text-align: center;
  cursor: pointer;
}
.btn-notification:hover {
  color: var(--bg-white);
  background-color: var(--pink);
}

/* ================================= Feedback DropDown ============================= */
@media (max-width: 767px) {
  .notification-btn .notification-menu.open {
    translate: -250px 0;
    z-index: 3;
    background-color: var(--bg-white);
    transform: scale(0.8);
    top: 0px;
    opacity: 1;
  }
}
