.sidebar {
  height: 100%;
  width: 240px;
  position: fixed !important;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--bg-custom);
  overflow-x: hidden;
  transition: 0.3s linear;
  overflow-y: scroll;
}
.sidebar-scroll ::-webkit-scrollbar {
  width: 10px;
}
.sidebar-scroll ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}
.sidebar-scroll ::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #832fee 0%, #ee2fb8 100%);
  border-radius: 10px;
}
.sidebar .logo {
  margin-top: 34.88px;
  display: flex;
  justify-content: start;
  margin-left: 10px;
  margin-bottom: 32.2px;
}
.sidebar .menu-list {
  margin-top: 32.2px;
  margin: 32.2px 16px 0 16px;
}

.sidebar .menu-list .menu-item {
  display: flex;
  gap: 7px;
  color: var(--text-color);
  align-self: center;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding: 4px 12px;
  transition: 0.3s all ease;
  margin-bottom: 5px;
}
.sidebar .menu-list .menu-item.active {
  background-color: var(--pink);
  color: var(--bg-white);
  border-radius: 6px;
}
.sidebar .menu-list .menu-item:hover {
  background: #ee2fb81a;
  border-radius: 6px;
  color: var(--pink);
  font-weight: 600;
}
.sidebar .menu-list .menu-item.last-item {
  margin-bottom: 24px;
}
.sidebar .menu-list .menu-item img {
  width: 17.23px;
  height: 17.23px;
  align-self: center;
}
.sidebar .menu-list .menu-item span {
  align-self: center;
}
.sidebar .menu-list hr {
  border-top: 1px solid #d8d8d8;
}
.sidebar .menu-list .upgrade-pro {
  background: linear-gradient(180deg, #832fee 0%, #ee2fb8 100%);

  position: relative;
  width: 180px;
  height: 142px;
  bottom: 10px;
  border-radius: 20px;
  margin-top: 117px !important;
  margin-bottom: 63.73px;
  padding: 10px;
}
.sidebar .menu-list .upgrade-pro .price-btn {
  border-radius: 6px;
  color: white;
  background: #f7f7f733;
  border: 0;
  padding: 7px 15px;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  transition: 0.3s all ease;
}
.sidebar .menu-list .upgrade-pro .price-btn:hover {
  background-color: var(--bg-white);
  color: var(--pink);
}
.sidebar .menu-list .upgrade-pro .bot-img {
  position: absolute;
  width: 113.12px;
  height: 177.66px;
  top: -30px;
  right: -30px;
}
.sidebar .menu-list .upgrade-pro .text-area {
  margin: 19.42px 8px;
  color: var(--bg-white);
}
.sidebar .menu-list .upgrade-pro .text-area h2 {
  font-weight: 800;
  font-size: 16.5636px;
  line-height: 21px;
  width: 84.47px;
}
.sidebar .menu-list .upgrade-pro .text-area p {
  font-weight: 400;
  font-size: 10.0364px;
  line-height: 14px;
  width: 94px;
}
.sidebar .menu-list .upgrade-pro .text-area h6 {
  font-weight: 800;
  font-size: 10.0364px;
  line-height: 150%;
}
.sidebar .closebtn {
  position: absolute;
  top: -8px;
  z-index: 2 !important;
  right: 5px;
  font-size: 36px;
  margin-left: 50px;
  border-radius: 100px;
  height: 40px;
  color: var(--purple);
  width: 30px;
  height: 30px;
  font-size: 22px;
  margin-top: 10px;
  text-align: start;
}
.mobile-closebtn {
  border: 0;
  background-color: transparent;
  font-size: 25px;
  color: var(--purple);
  margin-right: 0px;
  margin-left: 0px;
  /* margin-top: -75px; */
  position: absolute;
  top: 20px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  padding: 10px 15px;
  border: none;
  position: absolute;
  background-color: transparent;
  color: var(--purple);
  font-size: 30px;
  margin-left: -10px;
  margin-top: -10px;
}

#main {
  transition: margin-left 0.3s;
  margin-left: 240px;
}
@media (max-width: 992px) and (min-width: 768px) {
  .sidebar {
    height: 100%;
    width: 0;
    z-index: 9;
  }
}
@media (max-width: 767px) {
  .sidebar {
    height: 100%;
    width: 0;
    z-index: 9;
  }
}
